.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-container {
  overflow: hidden;
  outline: 0;
}

.leaflet-container img {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
  user-select: none;
  -webkit-user-drag: none;
}

.leaflet-control,
.leaflet-popup-pane {
  position: absolute;
}

.leaflet-control-zoom a,
.leaflet-control-layers-toggle,
.leaflet-popup-close-button,
.leaflet-tooltip,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  -webkit-tap-highlight-color: transparent;
}

.leaflet-container a {
  color: #0078a8;
}

.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

.leaflet-zoom-box {
  width: 0;
  height: 0;
  box-sizing: border-box;
  z-index: 800;
}

.leaflet-overlay-pane svg {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img {
  pointer-events: none;
}

.leaflet-control-zoom {
  display: inline-flex;
  flex-direction: column;
}

.leaflet-control-zoom a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.leaflet-popup {
  position: absolute;
}

.leaflet-popup-content-wrapper {
  position: relative;
}

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

.leaflet-popup-tip-container {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 20px;
  overflow: hidden;
  pointer-events: none;
}

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  margin: -10px auto 0;
  transform: rotate(45deg);
}
